<ion-header>
  <ion-toolbar>
    <ion-title>
      APS 1 - Mobile
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-router-outlet>
  ]
  
</ion-router-outlet>
<ion-content>
  <ion-list>
    <ion-item routerLink="/aluno">
      <ion-label>Aluno</ion-label>
    </ion-item>
    <ion-item routerLink="/calculadora">
      <ion-label>Calculadora Binária</ion-label>
    </ion-item>
    <ion-item routerLink="/historico">
      <ion-label>Histórico</ion-label>
    </ion-item>
  </ion-list>
  <router-outlet></router-outlet>
  
</ion-content>



